body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('couch.jpeg');
    background-image: center;
}
 .board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
    height: 600px;
    border: 1px solid blue;
    
    background-color: silver;
}
 .square {
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color:red;
}
 .square:hover {
    cursor: pointer;
    background-color:  #bbdefb;
    
}